.navigation-menu ul {
    color: rgb(114, 0, 0)
}

.centered {
    /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CSS */
.button-12 {
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    background-color: #83aeff;
    color: white;
    border: none
}

.button-12:hover {
    background-color: #789fe7;
}

.active_link {
    background-color: #224461;
    color: white;
}

.center-image {
    display: flex;
    justify-content: center;
    /* horizontally center */
    align-items: center;
    /* vertically center */
    width: 500;
}

.center-image img {
    max-width: 100%;
    max-height: 100%;
}


/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    background: #83aeff;
    text-align: center;
    font-size: 120%;
}

.topnav a:hover {
    background: #688cce;
    border-bottom: 5px solid rgb(39, 0, 145);
}

.topnav a.active {
    border-bottom: 5px solid rgb(39, 0, 145);
}

.rec {
    margin-top: 10px;
    margin-bottom: 10px;
}


.topnavPost {
    overflow: hidden;
    color: black;
    display: inline-block;
}

.topnavPost a {
    background: transparent;
    color: black;
    text-align: center;
    font-size: 100%;
    display: inline-block;
}

.topnavPost a:hover {
    color: black;
    background: transparent;
    border-bottom: 2px solid rgb(255, 41, 41);
    display: inline-block;
}

.topnavPost a.active {
    color: black;
    border-bottom: 2px solid rgb(255, 41, 41);
    display: inline-block;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: sticky;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;

}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #5b6cb8;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #1a1525;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #688cce;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
    position: sticky;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #688cce;
    padding: 1em 1em;
    font-size: 20pt;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    width: 100%;
    display: inline-block;
}

.bm-item a {
    width: 100%;
    text-align: center;
    font-size: 100%;
    display: inline-block;
}

.bm-item a:hover {
    color: rgb(173, 173, 173);
    padding-inline: 10px;
    background: rgb(72, 72, 150);
}

.bm-item a.active {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.td {
    border-style: solid;
    border-width: 5px;
    border-color: #BCBCBC;
    word-wrap: break-word;
}

.table {
    table-layout: fixed;
    width: 100%;
}

.ow {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    word-break: break-word;
}